@{
    ViewData["Title"] = "Financials";
}

@model IEnumerable<Assignment4.Models.EF_model.Financials>

<h2>Financials</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Total Revenue
            </th>
            <th>
                Report Date
            </th>
            <th>
                Gross Profit
            </th>
            <th>
                Cost of Revenue
            </th>
            <th>
                Operating Revenue
            </th>
            <th>
                Total Revenue
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.totalRevenue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reportDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.grossProfit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costOfRevenue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.operatingRevenue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalRevenue)
                </td>
            </tr>
        }
    </tbody>
</table>