@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Assignment4.Models.EF_model.Company>

<h2>Trading Information for Companies</h2>
<hr />
<link href="@Url.Content("~/Styles/Index.css")" rel="stylesheet" type="text/css" />

@*@Styles.Render("~/Styles/Index.css")*@

<table class="table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Company Name
            </th>
            <th>
                Short Interest List
            </th>
            <th>
                Book
            </th>
            <th>
                Dividend
            </th>
            <th>
                Price
            </th>

        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <a asp-controller="Home" asp-route-id="@item.symbol" asp-action="ShortInterestList">ShortInterestList</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-route-id="@item.symbol" asp-action="Book">Book</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-route-id="@item.symbol" asp-action="Dividend">Dividend</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-route-id="@item.symbol" asp-action="Price">Price</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<tr>
    <td>
        <a id="dbopt" asp-controller="Home" asp-action="PopulateSymbols">Save</a>
    </td>
</tr>




