@{
    ViewData["Title"] = "Which Company";
}

@model IEnumerable<Assignment4.Models.EF_model.Company>

<h2>Trading Information for Companies</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
            Symbol
        </th>
        <th>
            Company Name
        </th>
        <th>
            KeyStats
        </th>
            <th>
                Change
            </th>
            <th>
                Dividend
            </th>
            <th>
                Price
            </th>

        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <a asp-controller="Home" asp-route-id="@item.symbol" asp-action="KeyStats">KeyStats</a>
        </td>
            <td>
                <a asp-controller="Home" asp-route-id="@item.symbol" asp-action="Chart">Chart</a>
            </td>
            <td>
                <a asp-controller="Home" asp-route-id="@item.symbol" asp-action="Dividend">Dividend</a>
            </td>
            <td>
                <a asp-controller="Home" asp-route-id="@item.symbol" asp-action="Price">Price</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<tr>
    <td>
        <a id="dbopt" asp-controller="Home" asp-action="PopulateSymbols">Save</a>
    </td>
</tr>
